    /* ------------------forgot_passwords.css --------------------*/
    
    .fg-pwd {
        width: 40%;
        margin: 40px auto;
        background-color: rgb(244, 245, 244);
    }
    
    .fg-pwd h3 {
        padding: 20px 0;
    }
    
    .fg-pwd form {
        padding: 20px;
    }
    
    .fg-pwd .fg-pwd-btn {
        text-align: center;
        padding: 20px 0;
    }
    /* -----------------big windows---------------- */
    
    @media only screen and (max-device-width: 1300px) {}
    /* -----------ipad-pro-------------- */
    
    @media screen and (max-width: 1100px) {}
    /* -----------ipad-------------- */
    
    @media screen and (max-width: 1023px) {
        .fg-pwd {
            width: 60%;
        }
    }
    /* -----------mobile devices----------- */
    
    @media screen and (max-width: 700px) {
        .fg-pwd {
            width: 90%;
        }
    }
    /* ----------- very small mobile device iphone 5/SE----------- */
    
    @media screen and (max-width: 550px) {
        .fg-pwd {
            width: 90%;
        }
    }